<div class="container">
    {{#if payload}}
        <div class="card mt-4">
            <div class="text-black antiquewhite p-2">
                <i class="fas fa-receipt"></i> Resumen de la compra:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ticket ID: {{payload.ticketId}}</li>
                <li class="list-group-item">Monto total: ${{payload.amount}}</li>
                <li class="list-group-item">Usuario: {{user.first_name}} {{user.last_name}} (ID: {{payload.purchaser}})</li>
            </ul>
        </div>

        {{!-- Productos procesados correctamente --}}
        <div class="card mt-4">
            <div class="text-black antiquewhite p-2">
                <i class="fas fa-check"></i> Productos procesados correctamente: ${{this.processedAmount}}
            </div>
            <ul class="list-group list-group-flush">
                {{#each payload.productosProcesados}}
                    <li class="list-group-item">ID del producto: {{this._id}}, Cantidad: {{this.quantity}} Nombre del producto: "{{this.name}}"</li>
                {{/each}}
            </ul>
        </div>

        {{!-- Productos no procesados, si existen --}}
        {{#if payload.productosNoProcesados}}
            <div class="card mt-4">
                <div class="text-black antiquewhite p-2">
                    <i class="fas fa-times"></i> Productos no procesados por falta de stock: ${{this.notProcessedAmount}}
                </div>
                <ul class="list-group list-group-flush">
                    {{#each payload.productosNoProcesados}}
                        <li class="list-group-item">ID del producto: {{this._id}}, Cantidad: {{this.quantity}} Nombre del producto: "{{this.name}}"</li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}

        <div class="d-flex justify-content-between mt-4">
            <form action="/cart/{{payload.cartId}}" method="get">
                <button class='btn btn-effect btn-dark btn-jif bg-black btn-detalles mt-2 mx-4'>Volver al carrito</button>
            </form>
            <form action="/products" method="get">
                <button class="btn btn-effect btn-dark btn-jif bg-black btn-detalles mt-2 mx-4">Continuar Comprando</button>
            </form>
        </div>
    {{else}}
        {{!-- Productos no procesados fuera de payload --}}
        {{#if notProcessed}}
            <div class="card mt-4">
                <div class="text-black antiquewhite p-2">
                    <i class="fas fa-times"></i> Productos no procesados por falta de stock: ${{this.notProcessedAmount}}
                </div>
                <ul class="list-group list-group-flush">
                    {{#each notProcessed}}
                        <li class="list-group-item">ID del producto: {{this._id}}, Cantidad: {{this.quantity}}</li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    {{/if}}
</div>